<!DOCTYPE html>
<html>
  <head>
    <%- include('header.ejs') %>
    <style>
      body {
            background-color: seashell;
            font-family: Garamond, serif;
         }
    </style>
  </head>
  <body>
    <h1 align="center"> About Page !</h1>

    <p> 
        This is an online closet app that allows you to keep track of all the items in your closet digitally and create 
        outfits.
    </p>

    <p>
        Add Item: This feature is where you get to upload a single image along with basic information (including measurements and a tag !)
        about your item. 
    </p>

    <p>
        View Closet: Here you get to view all the items in your closet, with the image, title, brand, and size shown. Additionally,
        you can view each individual item's information, edit that information (excluding the image), or delete it !
    </p>

   <!-- <li>
      <a href="/add-item">Add Item</a>
  </li> -->

  </body>
</html>