<!DOCTYPE html>
<html>
    <head>
        <!--Not in use-->
        <title>Add item</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <!--Fix this part ?-->
        <h1>This is add item</h1>
        <!--<img src="/Users/jessicamironyuk/Desktop/expressApp/imageHold/1698876874156.png"" alt ="clothing item" width="400" height="auto">-->
        <!--Here the form also uploads the multer file info-->
        <h2>File Upload</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="myImg" required>
            <button type="submit">Upload</button>
        </form>
        <!--<button id="select-button">Select File</button>
        <input type="file" id="file-input" multiple style="display: none;" />
        <script src="add-item.js"></script> -->
      <!--  <form method="POST" action="/add-item" enctype="multipart/form-data">
            
                <label>Upload an Image</label>
                <input type="file" name="file" required/> -->

                <!--<form action="/add-item" enctype="multipart/form-data" method="post">
                    <input type="file" name="upload" multiple>
                    <input type="submit" value="Upload">
                </form> -->

                <!--worked before ?? -->
               <!--<div class="file">
                    <label class="file-label">
                        <input class="file-input" type="file" name="sampleFile">

                        <span class="file-cta">
                        <span class="file-label">
                            Choose a file and upload it
                        </span>
                        </span>
                    </label>
                </div> -->

             <!--   <button type="submit">Upload</button>
            
        </form> -->

        <!--<button id="img-upload">Upload an Image</button>
        <input 
            type="file"
            id="photo" 
            name="photo"
            accept="image/*">-->

    </body>
</html>